<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\styles\navbar.css">
        <link rel = "stylesheet" href="..\static/styles/userHome.css">
        <script src="../static/scripts/navbar.js" defer></script>
        <title>Grievance Portal</title>
        <script src="../static/scripts/admin.js" defer></script>
    </head>

    <body>
        <nav class="navbar">
            <div class="logo">
                <img src="..\static/images/Logo.png">
                <p1>Policy &nbsp</p1> <p2>Finder</p2>
            </div>
            <a href="#" class="toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="about_us?token=<%= token %>">About Us</a></li>
                    <li><a href="support?token=<%= token %>">Support</a></li>
                    <li><a href="/index">Logout</a></li>    </ul>
            </div>
        </nav>
        <div class="row">
            <div class="outer-col1">
                <!-- <div class="box1">
                    <H1>Solutions To All Your Grievances <br> In One Place.</H1>
                    <p>We will take your grievance to the desk of concerned officer and see it resolved.</p>
                    <button type="button" class="learnMore">Learn More</button>
                </div> -->
                <a href="adminView?token=<%= token %>"><div class="box2">View all policies</div></a>
                <a href="adminDel?token=<%= token %>"><div class="box3">Delete policy</div></a>
                <a href="adminHome?token=<%= token %>"><div class="box4">Add a new policy</div></a>

            </div>
            <div class="container">
                <div class="title1">Enter Details</div>
                <form action="delete_policy" method="post">
                    <div class="input-box">
                        <div class="col1">
                            <div class="space2"><br><br><br></div>
                            <input type="hidden" name="token" value="<%= token %>">

                            <h4>Region</h4>
                            <select name="region">
                                <option value="Center">Center</option>
                                <option value="State">State</option>
                            </select>
                            <div class="space2"></div>
                            <h4>Policy ID</h4>
                            <input type="text" name="policy_id" placeholder="Enter policy id to be deleted" required>
                            <div class="space"></div>
                            <input type="submit" name="delete" id="register" value="Submit">
                        </div>
               
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>